<app-header>
    <app-toolbar>
        <a routerLink="/" routerLinkActive="active" tabindex="-1">
            <paper-icon-button icon=":chevron-left"></paper-icon-button>
        </a>
        <iron-icon src="./assets/images/icon-base.png"> </iron-icon>
        <div main- title>20 of 250 matches</div>
    </app-toolbar>
</app-header>
<section>
    <div *ngFor="let property of propertyList">
        <div class="item">
            <img class="avatar" src="{{property.img_url }}">
            <div class="pad ">
                <div class="primary">{{property.price}}</div>
                <div class="secondary">{{property.keywords}}</div>
            </div>
        </div>
    </div>
</section>
