<app-header>
    <app-toolbar>
        <div>
            <a routerLink="/" routerLinkActive="active" tabindex="-1">
                <paper-icon-button icon=":chevron-left"></paper-icon-button>
                <iron-icon src="./assets/images/icon-base.png"> </iron-icon>
            </a>
        </div>
        <div main-title>{{numberOfResults}} of {{totalResults}} matches</div>
    </app-toolbar>
</app-header>
<section>
    <property-list [items]="propertyList" (selected-item-changed)="selectProperty($event.detail.value)"></property-list>
</section>
