<app-header>
    <app-toolbar>
        <a routerLink="/" routerLinkActive="active" tabindex="-1">
            <paper-icon-button icon=":chevron-left"></paper-icon-button>
        </a>
        <iron-icon src="./assets/images/icon-base.png"> </iron-icon>
        <div main- title>Favourites</div>
    </app-toolbar>
</app-header>
<section>
    <p *ngIf="isFavorite" class="favs-component__noselected
">You have not added any properties to your favourites</p>
    <property-list [items]="favPropertyList" (selected-item-changed)="selectProperty($event.detail.value)"></property-list>
    <!--div *ngFor="let favorites of (favPropertyList | async)">
        <div class="item" (click)="selectProperty(favorites)">
            <img class="avatar" src="{{favorites.img_url }}">
            <div class="pad">
                <div class="primary">{{favorites.price}}</div>
                <div class="secondary">{{favorites.title}}</div>
            </div>
        </div>
    </div-->
</section>
