<app-header>
    <app-toolbar>
        <a routerLink="/searchresults" routerLinkActive="active" tabindex="-1">
            <paper-icon-button icon=":chevron-left"></paper-icon-button>
        </a>
        <iron-icon src="./assets/images/icon-base.png"> </iron-icon>
        <div main- title>Property Details</div>
        <button (click)="addToFavorites()" icon="favorite">+</button>
    </app-toolbar>
</app-header>
<section class="listing-component__content">
    <h1>{{property.price}}</h1>
    <div>
        {{property.title}}
        <img class="avatar" src="{{property.img_url}}">
    </div>
    <div>
        {{property.bathroom_number}} Bathrooms, {{property.bedroom_number}} Bedrooms
    </div>
    <div>
        {{property.summary}}
    </div>
</section>
