<app-header>
    <app-toolbar class="propertyToolbar">
        <div>
            <paper-icon-button icon=":chevron-left" (click)="navigateBack()"></paper-icon-button>
            <iron-icon src="./assets/images/icon-base.png"> </iron-icon>
        </div>
        <div main-title>Property Details</div>
        <paper-icon-button icon="icons:star-border" *ngIf="!this.isFavorite" (click)="addToFavorites()"></paper-icon-button>
        <paper-icon-button icon="icons:star" *ngIf="this.isFavorite" (click)="removeFromFavorite()
"></paper-icon-button>
    </app-toolbar>
</app-header>
<section class="listing-component__content ">
    <h1>{{property.price}}</h1>
    <div>
        {{property.title}}
        <img class="avatar " src="{{property.img_url}} ">
    </div>
    <div>
        {{property.bathroom_number}} Bathrooms, {{property.bedroom_number}} Bedrooms
    </div>
    <div>
        {{property.summary}}
    </div>
</section>
